doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Não Autorizado
    // Vendor CSS
    link(href='/css/animate.min.css', rel='stylesheet')
    link(href='/css/material-design-iconic-font/css/material-design-iconic-font.min.css', rel='stylesheet')
    // CSS
    link(href='/css/material-admin.css', rel='stylesheet')
  body
    .four-zero
      .fz-block
        h2 Não Autorizado!
        small A página não pode ser exibida!
        .fzb-links
          a(href='/')
            i.zmdi.zmdi-home
