doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Erro 404
    // Vendor CSS
    link(href='/css/animate.min.css', rel='stylesheet')
    link(href='/css/material-design-iconic-font/css/material-design-iconic-font.min.css', rel='stylesheet')
    // CSS
    link(href='/css/material-admin.css', rel='stylesheet')
  body
    .four-zero
      .fz-block
        h2 Erro 404!
        small A página não pode ser encontrada!
        .fzb-links
          a(href='/')
            i.zmdi.zmdi-home
