doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{info.description}
    // Vendor CSS
    link(href='/css/animate.min.css', rel='stylesheet')
    link(href='/css/material-design-iconic-font/css/material-design-iconic-font.min.css', rel='stylesheet')
    // CSS
    link(href='/css/material-admin.css', rel='stylesheet')
  body
    .four-zero
      .fz-block.p-t-30
        h2 #{info.name} API
        small.m-b-30 v. #{info.version}
        br
        small Clique no botão abaixo para ser redirecionado
        br
        small à aplicação principal!  
        .fzb-links
          a(href='/')
            i.zmdi.zmdi-view-web
